{% load static %}

<header class="header">
    <div class="container">
        <a href="{% url 'index' %}"><h2 style="color: #958bff;">Exotik</h2></a>
        <div class="menu">
            <nav>
                <div class="menu-link">
                    <a href="{% url 'activities:random' %}">
                        <button>
                            Random activities
                        </button>
                    </a>
                </div>
                <div class="menu-link">
                    <a href="{% url 'todos:index' %}">
                        <button>
                            Todo list
                        </button>
                    </a>
                </div>
                <div class="menu-link">
                    <a href="{% url 'todos:calendar' %}">
                        <button>
                            Calendar
                        </button>
                    </a>
                </div>
                <div class="menu-link">
                    <a href="{% url 'facts:index' %}">
                        <button>
                            Facts
                        </button>
                    </a>
                </div>
            </nav>
            <div class="menu-buttons">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'accounts:logout' %}" class="btn-outline">Logout ({{ request.user.username }})</a>
                {% else %}
                    <a href="{% url 'accounts:login' %}" class="btn-outline menu-login">Login</a>
                    <a href="{% url 'accounts:register' %}" class="btn menu-register">Sign up</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>