{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}Todo list{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'todos/css/styles.css' %}">
{% endblock css %}

{% block body %}
<div class="main">
    <div class="todos">
        <form action="{% url 'todos:add_todo' %}" method="post">
            {% csrf_token %}
            <h2 class="todos-heading">Todo list of today</h2>
            
            <div class="todo-input-parent">
                <input class="todo-input" type="text" id="title" name="title" placeholder="New Todo">
                <button id="submit" type="submit" class="btn add-todo"><i class="fa-solid fa-plus"></i></button>
            </div>
    
            <div class="tasks">
                <div class="tasks">
                    {% for task in tasks %}
                        <div class="task">
                            <p class="task-name" type="text">{{ task }}</p>
                            <a href="{% url 'todos:remove_task' task.id %}?next={{ request.path }}" id="{{ task.id }}" class="task-remove"><i class="fa-solid fa-xmark"></i></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </form>
    </div>
</div>
<div id="csrf_token" style="display: none;">{{ csrf_token }}</div>
{% endblock body %}


{% block js %}
<script src="{% static 'todos/js/app.js' %}"></script>
{% endblock js %}