:root {
    --black: #212346;
    --element-blue-dark-darker: #12121f;
    --element-blue-dark-dark: #131326;
    --element-blue-dark-dark-2: #1d1d31;
    --element-blue-dark-light: #23243c;
    --element-blue-dark-lightest-2: #2a2e5c;
    --element-blue-dark-lighter: #292b46;
    --element-gray-light-light: #e2e7f3;
    --element-gray-light-lightest-1: #f8f9fc;
    --element-gray-light-lightest-2: #fbfcfd;
    --element-gray-light-lighter: #edf1f7;
    --element-gray-light-dark: #a0acc5;
    --text-black-light: #565a90;
    --text-black-lighter: #3d406d;
    --text-black-lightest: #888cc7;
    --text-white-dark: #babeec;
    --text-white-daskest: #a4a8dc;
    --text-white-darker: #dbddf5;
    --text-white-darkest: #a4a8dc;
    --gray-5: #e0e0e0;
    --gray-6: #f2f2f2;
    --white: #fff;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.col {
    float: left;
}

.text-white {
    color: var(--white);
}

@media(min-width:768px) {
    .container {
        padding-left: 24px;
        padding-right: 24px;
    }

    .col {
        padding-left: 24px;
    }
}

@media(min-width:1240px) {
    .container {
        max-width: 1420px;
        padding-left: 32px;
        padding-right: 32px;
    }
    .col {
        padding-left: 32px;
    }
}

body,
html {
    overflow-x: hidden;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--white);
    color: var(--black);
    font-family: SF, arial, sans-serif;
    font-size: 16px;
    height: 100%;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

::selection {
    background: #5b50d6;
    color: var(--white);
}

:focus {
    outline: 0;
}

*,
:after,
:before {
    box-sizing: border-box;
}

p {
    margin: 0 0 8px;
}

body,
html {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: HK-Grotesk, arial;
    margin: 0;
}

footer,
header,
nav,
section {
    display: block;
}

img {
    max-width: 100%;
}

img {
    height: auto
}

div,
h1,
p {
    word-wrap: break-word;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

button {
    -webkit-appearance: none;
    font: inherit;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
}

img {
    vertical-align: middle;
}

a img {
    border: 0;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    transition: all .2s ease;
}

a:hover {
    text-decoration: inherit;
}

:-ms-input-placeholder {
    color: var(--black);
}

::-webkit-input-placeholder {
    color: var(--black);
}

::-moz-placeholder {
    color: var(--black);
}

:-ms-input-placeholder {
    color: var(--black)!important;
}

::-ms-input-placeholder {
    color: var(--black);
}

.h1,
h1 {
    font-size: 36px;
    line-height: 44px;
}

.h1,
h1,
h2 {
    font-weight: 900;
}

h2 {
    font-size: 24px;
    line-height: 36px;
}

h3 {
    font-size: 20px;
    line-height: 28px;
}

h3 {
    font-weight: 900;
}

.link-social {
    align-items: center;
    border: 1px solid var(--text-white-darker);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 32px;
}

.link-social svg {
    height: 16px;
    width: 16px;
}

.link-social svg path {
    fill: var(--text-black-light);
    transition: fill .2s ease;
}

.link-social:hover {
    border-color: #5b50d6;
}

.link-social:hover svg path {
    fill: #5b50d6;
}

.body {
    background: var(--element-blue-dark-light);
}

.btn {
    background: #5b50d6;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    color: var(--white);
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
    padding: 0 16px;
    text-overflow: ellipsis;
    transition: color .2s ease, background .2s ease, box-shadow .2s ease;
    white-space: nowrap;
}

.btn-outline {
    background: #5b50d6;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    color: var(--white);
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
    padding: 0 16px;
    text-overflow: ellipsis;
    transition: color .2s ease, background .2s ease, box-shadow .2s ease;
    white-space: nowrap;
    background: transparent;
    box-shadow: 0 0 0 1px var(--white) inset;
}

.btn:hover {
    background: #847ae6;
}

.btn:focus {
    outline: 0;
}

.btn-outline:hover {
    background: transparent;
    box-shadow: 0 0 0 1px var(--element-gray-light-light) inset;
    color: var(--element-gray-light-light);
}

:root {
    --swiper-theme-color: #007aff;
}