{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}Random activity generator{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'activities/css/styles.css' %}">
{% endblock css %}

{% block body %}
<div class="main">
    <div class="random"> 
        <h2 class="random-heading">Generate random activity</h2>
        <div class="select-box">
            <div id="all" class="selected">
                Select activity type
            </div>
            <div class="types-container">
                <div class="type">
                    <input type="radio" class="radio" id="all" name="category">
                    <label for="all">All</label>
                </div>
                
                <div class="type">
                    <input type="radio" class="radio" id="charity" name="category">
                    <label for="charity">Charity</label>
                </div>
                
                <div class="type">
                    <input type="radio" class="radio" id="cooking" name="category">
                    <label for="cooking">Cooking</label>
                </div>
                
                <div class="type">
                    <input type="radio" class="radio" id="diy" name="category">
                    <label for="diy">Do It Yourself</label>
                </div>
                
                <div class="type">
                    <input type="radio" class="radio" id="recreational" name="category">
                    <label for="recreational">Recreational</label>
                </div>
                
                <div class="type">
                    <input type="radio" class="radio" id="relaxation" name="category">
                    <label for="relaxation">Relaxation</label>
                </div>
                
                <div class="type">
                    <input type="radio" class="radio" id="social" name="category">
                    <label for="social">Social</label>
                </div>

                <div class="type">
                    <input type="radio" class="radio" id="education" name="category">
                    <label for="education">Education</label>
                </div>
            </div>
        </div>
        <div class="random-btn">
            <button class="btn">Generate random activity</button>
        </div>
        <div class="activity-parent"></div>
        <form class="add-todo-form" action="{% url 'todos:add_todo' %}" method="post">
            {% csrf_token %}
            <input class="add-random-form" type="hidden" name="title" id="title" value="">
            <input style="display: none;" type="checkbox" checked name="is_random" id="is_random">
            <button type="submit" class="btn random-todo">Add to the todo list</button>
        </form>
    </div>
</div>
{% endblock body %}

{% block js %}
<script src="{% static 'activities/js/app.js' %}"></script>
{% endblock js %}
