.todos {
    margin: 15px auto;
    width: 90%;
    background: var(--element-blue-dark-dark-2);
    border-radius: 8px;
    padding: 48px 40px;
    color: var(--white);
}

.todos-heading {
    text-align: center;
    margin-bottom: 20px;
}

.add-todo {
    border: none;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 100%;
    width: 20%;
    float: right;
    margin-top: 3px;
}

.todo-input {
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    bottom: 0;
    margin-top: 3px;
    width: 80%;
    background-color: #23243c;
    color: var(--white);
}

.todo-input::placeholder {
    color: var(--white);
}

.todo-input-parent {
    height: 40px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.task-remove {
    width: 20%;
    padding: 10px;
    text-align: center;
    background-color: #e26468;
    height: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.task-remove i {
    margin-left: auto;
    margin-right: auto;
}

.task-name {
    position: relative;
    padding: 10px;
    background: #23243c;
    width: 80%;
    height: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.task {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    display: flex;
}

.date {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 24px;
}

.date .card {
    background-color: var(--element-blue-dark-dark-2);
    color: var(--white);
    border-radius: 8px;
    height: 364px;
    min-width: 285px;
    padding: 48px 32px 32px;
}

.date-title {
    color: #a097f2;
}

.date-task {
    background-color: #23243c;
    border-left: 4px solid #3ab0e9;
    border-radius: 4px;
    margin-bottom: 2px;
    padding: 5px;
    padding-left: 10px;
}

.calendar {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

.is-random {
    border-left: 4px solid #f8d441;
}

.task-name a {
    padding: 0;
}

.random-calendar {
    text-align: center;
}

@media(min-width:768px) {
    .todos {
        width: 80%;
    }

    .add-todo {
        width: 20%;
    }

    .todo-input {
        width: 80;
    }

    .todo-input-parent {
        width: 50%;
    }

    .task {
        width: 50%;
    }

    .date {
        margin-left: 0;
        margin-right: 0;
        padding-left: 24px;
        padding-right: 24px;
        width: 50%;
        float: left;
    }
}

@media (min-width:1240px) {
    .date {
        padding-left: 32px;
        padding-right: 32px;
        margin-left: 0;
        margin-right: 0;
        width: 25%;
        float: left;
    }
}