{% extends 'layouts/base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
<div class="main">
    <div class="container">
        <section class="main-top clearfix">
            <div class="left">
                <div class="top-title">
                    <span class="top-tag">Manage your time</span>
                    <h1 class="top-heading">Make Everyday a Little Less Ordinary</h1>
                    <p class="top-heading">Many activities to manage your time and break the routine with new ideas</p>
                    <div class="top-buttons">
                        <a href="#activities" class="btn btn-left">See the activities</a>
                        <a href="{% url 'accounts:register' %}" class="btn-outline">Sign up</a>
                    </div>
                </div>
            </div>
            <div class="right col col-md-6 col-lg-7 col-lg-offset-1">
                <h1 class="top-heading">dakljdlksl</h1>
            </div>
        </section>
        <section id="activities" class="section-do">
            <div class="do-title">
                <span class="top-tag">Activities</span>
                <h1 class="text-white">What does Exotik do?</h1>
            </div>
            <div class="do-cards">
                <div class="clearfix">
                    <div class="card-parent">
                        <div class="card">
                            <a href="{% url 'activities:random' %}"><h3 style="color: #a097f2;">1. Random activities</h3></a>
                            <svg width="300" height="8" fill="none" viewBox="0 0 300 8">
                                <path fill="#a097f2" d="M0 0h293.991L300 4l-6.009 4H0l6.39-4L0 0z"></path>
                            </svg>
                            <p class="card-description">Exotik generate for you random activities. And gives you new ideas if you want to make something different than everyday.</p>
                        </div>
                    </div>
                    <div class="card-parent">
                        <div class="card">
                            <a href="{% url 'todos:index' %}"><h3 style="color: #3ab0e9;">2. Todo list</h3></a>
                            <svg width="300" height="8" fill="none" viewBox="0 0 300 8">
                                <path fill="#3ab0e9" d="M0 0h293.991L300 4l-6.009 4H0l6.39-4L0 0z"></path>
                            </svg>
                            <p class="card-description">With Exotik, you can manage your tasks with the todo list, and you can get different todo list recommandations depending on your obligatory tasks.</p>
                        </div>
                    </div>
                    <div class="card-parent">
                        <div class="card">
                            <a href="{% url 'todos:calendar' %}"><h3 style="color: #cb87f6;">3. Calendar</h3></a>
                            <svg width="300" height="8" fill="none" viewBox="0 0 300 8">
                                <path fill="#cb87f6" d="M0 0h293.991L300 4l-6.009 4H0l6.39-4L0 0z"></path>
                            </svg>
                            <p class="card-description">You can visualize your tasks in a calendar to have a global view on your time, and to plan your future tasks and give each day a main goal.</p>
                        </div>
                    </div>
                    <div class="card-parent">
                        <div class="card">
                            <a href="{% url 'todos:calendar' %}"><h3 style="color: #f8d441;">4. Game</h3></a>
                            <svg width="300" height="8" fill="none" viewBox="0 0 300 8">
                                <path fill="#f8d441" d="M0 0h293.991L300 4l-6.009 4H0l6.39-4L0 0z"></path>
                            </svg>
                            <p class="card-description">The Exotik game is a funny and basic game to play when you are bored.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock body %}
