{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}Login{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'accounts/css/styles.css' %}">
{% endblock css %}

{% block body %}
<div class="main">
    <div class="auth">
        <form class="auth-form" method="post">
            {% csrf_token %}
            <h2 class="auth-heading">Login</h2>
            <input class="auth-input" type="text" name="username" id="username" placeholder="Username">
            <input class="auth-input" type="password" name="password" id="password" placeholder="Password">
            <input type="submit" class="btn auth-btn auth-btn" value="Login">
        </form>
    </div>
    
</div>
{% endblock body %}