.random {
    margin: 15px auto;
    width: 90%;
    background: var(--element-blue-dark-dark-2);
    border-radius: 8px;
    padding: 48px 40px;
    color: var(--white);
}

.add-todo-form {
    margin-top: 10px;
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

@media only screen and (min-width: 768px) {
    .random {
        width: 80%;
    }

    .add-todo-form {
        width: 50%;
    }
}

.select-box .types-container {
    background-color: #5b50d6;
    color: #f5f6fa;
    max-height: 0;
    width: 90%;
    transition: all 0.3s;
    border-radius: 4px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.selected {
    background: #5b50d6;
    border-radius: 4px;
    margin-bottom: 2px;
    width: 90%;
    color: #f5f6fa;
    margin-left: auto;
    margin-right: auto;
}

.select-box .types-container.active {
    max-height: 240px;
}

.select-box .type,
.selected {
    padding: 2px 16px;
    cursor: pointer;
}

.select-box .type:hover {
    background: #847ae6;
}

.select-box label {
    cursor: pointer;
}

.select-box .type .radio {
    display: none;
}

.random-top {
    display: flex;
    width: 100%;
}

.random-heading {
    text-align: center;
    margin-bottom: 20px;
}

.random-btn {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 20px;
}

.random-btn button {
    width: 100%;
}

.activity-parent {
    background-color: #23243c;
    color: var(--white);
    padding: 5px;
    border-radius: 4px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: none;
}

@media(min-width:768px) {
    .selected {
        width: 50%;
    }

    .select-box .types-container {
        width: 50%;
    }

    .random-btn {
        width: 50%;
    }

    .activity-parent {
        width: 50%;
    }
}